<div class="commissions mt-2">

    <div class="main-content">
        
        <div class="container-fluid">
            <div>
                <div class="title text-center d-flex justify-content-between align-items-center">
                    <hr class="w-40">
                    <h2 class="w-20">Commissions</h2>
                    <hr class="w-40">
                </div>

                <div class="d-flex cont-commissions justify-content-center pt-5">
                    <div class="half-body d-flex">
                        <div class="cont-img">
                            <img src="../../../assets/img/draws/moss.png" alt="moss skyfishu half body commission draw vtuber">
                            <div class="font"></div>
                        </div>
                        <div class="price d-flex flex-column justify-content-center align-items-start">
                            <h1>HALF BODY</h1>
                            <div class="box p-4">
                                <div>
                                    <p>Base price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        
    </div>

     <app-footer></app-footer>
        
</div>
