<div class="commissions mt-2">

    <div class="main-content">
        
        <div class="container-fluid">
            <div>
                <div class="title mt-5 mt-lg-4 text-center d-flex justify-content-center justify-content-lg-between align-items-center">
                    <hr class="w-40 d-none d-lg-block">
                    <h2 class="w-lg-20 w-xl-100">Commissions</h2>
                    <hr class="w-40 d-none d-lg-block">
                </div>

                <div class="d-flex flex-column cont-commissions justify-content-center align-items-center pt-5 mt-4">

                    <div class="half-body d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 mb-lg-0">
                        <div class="cont-img">
                            <img src="../../../assets/img/draws/moss.png" alt="moss skyfishu half body commission draw vtuber">
                            <div class="font"></div>
                        </div>
                        <div class="price d-flex flex-column justify-content-center align-items-start">

                            <div class="w-100 mt-3 mt-lg-0 d-flex justify-content-center justify-content-lg-start">
                               <h1>HALF BODY</h1> 
                            </div>
                            
                            <div class="box pt-4 px-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="d-flex align-items-center justify-content-center w-100 pt-2">
                                    <div class="flex-fill">
                                        <p>Base price</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-35"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$800 USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class="flex-fill">
                                        <p>Adicional outfit</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-10"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$150 - $300 USD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cont-icon d-flex d-lg-none justify-content-center align-items-center w-50 mt-5 pt-5 mt-lg-0">
                        <img src="../../../assets/img/flower.png" alt="flower skyfishu" width="20%">
                    </div>

                    <div class="full-body d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start align-items-center align-items-lg-start mt-0 mt-lg-5 pt-4">
  
                        <div class="price d-flex flex-column justify-content-center align-items-start mt-5 pt-5 mb-4 mb-lg-0">

                            <div class="w-100 mt-3 mt-lg-0 d-flex justify-content-center justify-content-lg-end">
                               <h1>FULL BODY</h1> 
                            </div>
                            
                            <div class="box pt-4 px-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="d-flex align-items-center justify-content-center w-100 pt-2">
                                    <div class="flex-fill">
                                        <p>Base price</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-35"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$950 USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class="flex-fill">
                                        <p>Adicional outfit</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-10"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$300 - $400 USD</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cont-img">
                            <img src="../../../assets/img/draws/tatsu.png" alt="tatsu skyfishu full body commission draw vtuber">
                            <div class="font"></div>
                        </div>

                    </div>

                    <div class="facial-expressions d-flex flex-column flex-lg-row justify-content-center align-items-center mt-5 pt-5 w-60">

                        <div class="price d-flex flex-column justify-content-center align-items-start">

                            <div class="w-100 mt-3 mt-lg-0 d-flex justify-content-center justify-content-lg-start">
                               <h1>EXPRESSIONS</h1> 
                            </div>
                            
                            <div class="box pt-4 px-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="d-flex align-items-center justify-content-center w-100 pt-2">
                                    <div class="flex-fill">
                                        <p>Facial expressions</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-20"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$30 USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class="flex-fill">
                                        <p>Body toggles</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-33"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$50+ USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class="flex-fill">
                                        <p><span>(new arms, etc. depends on complexity.)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cont-icon d-flex justify-content-center align-items-center w-50 mt-5 pt-5 pt-lg-0 mt-lg-0">
                            <i class="fa-solid fa-fish"></i>
                        </div>

                    </div>

                    <div class="custom-design d-flex flex-column flex-lg-row justify-content-center align-items-center mt-5 pt-5 w-60">

                        <div class="cont-icon d-none d-lg-flex justify-content-center align-items-center w-50 mt-4 mt-lg-0">
                            <img src="../../../assets/img/flower.png" alt="flower skyfishu" width="20%">
                        </div>

                        <div class="price d-flex flex-column justify-content-center align-items-center align-items-lg-start">

                            <div class="w-100 mt-3 mt-lg-0 d-flex justify-content-center justify-content-lg-end text-center text-lg-start">
                               <h1>CUSTOM DESIGN</h1> 
                            </div>
                            
                            <div class="box pt-4 px-4 d-flex flex-column justify-content-center align-items-center">
                                <div class="d-flex align-items-center justify-content-center w-100 pt-2">
                                    <div class="flex-fill">
                                        <p>Original character design by me</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-10"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$300 USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <div class="flex-fill">
                                        <p>Character sheet</p>
                                    </div>
                                    <div class="line flex-fill mb-4 w-40"></div>
                                    <div class="flex-fill ps-2 d-flex justify-content-end">
                                        <p>$600+ USD</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-100">
                                    <div class="flex-fill">
                                        <p><span>(Front, back, profile flats)</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br><br><br><br>

                    <div class="w-100 text-center mt-5 pt-5">
                        <h3>
                            Are you interested in a commission?
                        </h3>
                        <button class="button-primary mt-3">
                            Contact me
                        </button>
                    </div>

            </div>
            
        </div>
        
    </div>

     <app-footer></app-footer>
        
</div>
