footer {
    background-color: var(--secondary);
    padding: 50px 0 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    width:100%;
    position:absolute;
    bottom:0;
    z-index:5;
}
footer div {
    margin: 7px 0;
}

@media (max-width: 380px) {
    footer div {
        margin: 3px 0;
    }
}