.home {
    position:relative;
    padding: 0 0 400px;
}
.fontslider-primary {
    padding: 70px 0 30px;
}
.fontslider-primary img {
    width: 60%;
}  
/*---------------------------*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .cont {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.swiper-slide .cont div {
    height: 100%;
    width: 80%;
}
.swiper-slide .cont div img {
  height: 100%;
  padding: 5% 0 0;
}
.swiper-pagination {
    padding: 0 7% 30%;
}
.swiper-pagination-bullet {
    background-color: var(--secondary);
    opacity:0.4;
}
.swiper-pagination-bullet-active {
    opacity:1;
}

.slider-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-------------------------*/
@media (max-width: 1024px) {
    .swiper-slide .cont div {
        height: 100%;
        width: 78%;
    }
    .swiper-slide .cont div img {
        height: 90%;
        padding: 5% 0 0;
    }
    .swiper-pagination {
        padding: 0 7% 35%;
    }
}
@media (max-width: 800px) {
    .swiper-slide .cont div {
        height: 100%;
        width: 77%;
    }
    .swiper-slide .cont div img {
        height: 80%;
        padding: 5% 0 0;
    }
    .swiper-pagination {
        padding: 0 7% 50%;
    }
}

@media (max-width: 500px) {
    .home div.main-content{
        margin: 10px;
    }
    .swiper-slide .cont div {
        height: 100%;
        width: 67%;
    }
    .swiper-slide .cont div img {
        height: 70%;
        padding: 8% 0 0;
    }
    .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
        right: -5px;
        top: 10px;
        transform: none;
    }
    .fontslider-primary {
        padding: 70px 0 20px;
    }
    .fontslider-primary img {
        width: 100%;
    }  
}
@media (max-width: 350px) {
    .swiper-slide .cont div {
        height: 100%;
        width: 68%;
    }
    .swiper-slide .cont div img {
        height: 65%;
        padding: 10% 0 0;
    }
  
}