<Header class="d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center align-items-lg-start">
    <div class="commissionStatus w-md-100 w-lg-40 d-flex">
        <app-status [classMenu]="'menu-primary'"></app-status>

        <div class="menuMobile d-flex d-lg-none justify-content-end">

            <div class="dropdown dropdown-menu-end">

                <div class="btn-menu" data-bs-toggle="dropdown">
                    <div>
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-center">
                    <app-menu-primary [ngClass]="'dropdown-menu'" [classMenu]="'menu-primary'"></app-menu-primary>
                </div>
                    
            </div>
            
        </div>

    </div>


    <div class="iconWeb w-33">
        <div class="d-flex flex-column justify-content-center align-items-center">

            <a href="/">
                <img src="../../../assets/img/favicon.png" width="40px" height="auto" alt="Skyfishu icon">
            </a>
            <a href="/">
                <img src="../../../assets/img/logo.png" width="200px" alt="Skyfishu logo">
            </a>
            <div class="socialmedia">
                <app-socialmedia></app-socialmedia>
            </div>

        </div>
    </div>
    <div class="menu d-none d-lg-flex w-40 justify-content-end">
        <app-menu-primary [classMenu]="'menu-primary'"></app-menu-primary>
    </div>
 

</Header>
