.portfolio  {
    position: relative;
}
.portfolio .main-content {
    padding-bottom: 400px;
}

.cont-portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-portfolio .principal {
    position: relative;
    width: 100%;
    padding: 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-portfolio .principal .cont-box {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 480px;
    margin: 0 5% 7%;
}

.cont-portfolio .principal .cont-box .box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    padding: 20px 0 0 0;
    cursor:pointer;
}
.cont-portfolio .principal .cont-box .box img{
    width: 120%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top;
    padding:20px 0 0 0;
}
.cont-portfolio .principal .cont-box .box:hover {
    transform:scale(1.1);
}
.modal a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .portfolio .main-content {
        padding: 15px 15px 400px;
    }

}

@media (max-width: 999px) {

    .cont-portfolio .principal {
        padding: 0 15%;
    }
    .cont-portfolio .principal .cont-box {
        width: 100%;
    }
    .cont-portfolio .principal .cont-box .box {
        width: 100%;
        height: 500px;
        margin: 0 5% 5%;
        padding: 20px 0 0 0;
    }
    .cont-portfolio .principal .cont-box .box img{
        width: 120%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: top;
        padding:20px 0 0 20px;
    }

}

@media (max-width: 500px) {
    .cont-portfolio .principal {
        padding: 0 2%;
    }
    .cont-portfolio .principal .cont-box {
        width: 100%;
        height: 230px;
        margin:0 0 8%;
    }
    .cont-portfolio .principal .cont-box .box {
        width: 100%;
        height: 230px;
        margin: 0 1% 5%;
        padding: 10px 0 0 0;
    }
    .cont-portfolio .principal .cont-box .box img{
        padding:20px 0 0 0;
    }

}