.portfolio  {
    position: relative;
}
.portfolio .main-content {
    padding-bottom: 500px;
}

.cont-portfolio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-portfolio .principal {
    position: relative;
    width: 100%;
    padding: 3% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-portfolio .principal .cont-box {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 480px;
    margin: 0 5% 7%;
}

.cont-portfolio .principal .cont-box .box {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    padding: 20px 0 0 0;
    cursor:pointer;
}
.cont-portfolio .principal .cont-box .box img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    object-fit: cover;
    object-position: top;
    padding:20px 0 0 0;
}
.cont-portfolio .principal .cont-box .box:hover {
    transform:scale(1.1);
}
.modal a {
    text-decoration: none;
}

/*---------------------------*/

.characters , .characters span{
    width: 100%;
    z-index:1;
}
.characters span {
    width: 50%;
}
.characters span .cont-char {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index:1;
}

.characters span .cont-char .img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index:2;
}
.characters span .cont-char.right .img{
    justify-content: flex-start;
}
.characters span .cont-char.left .img{
    justify-content: flex-end;
}

.characters span .cont-char .img img {
    width:85%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top;
}
.characters span .cont-char .img img.imgM {
    width:51%;
    margin: 0 17%;
}
.characters span .cont-char .square {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    display: flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    bottom:0;
    z-index:1;
    background-size: cover;
}

.characters span .cont-char.right .square {
    right:5%;
}
.characters span .cont-char.left .square {
    left:5%;
}
.characters span .cont-char .square .cont-border {
    width: 91%;
    height: 85%;
    border-radius: 10px;
    border: 4px solid grey;
    opacity:1;
    margin-top:5px;
    position: relative;
}
.characters span .cont-char .square .cont-border h2 {
    position: absolute;
    top: 15px;
    font-size: 32pt;
}
.characters span .cont-char.right .square .cont-border h2 {
   right: 16px;
}
.characters span .cont-char.left .square .cont-border h2 {
   left: 16px;
}

.characters span .cont-char .socialmedia {
    position: absolute;
    bottom:25px;
    z-index:3;
}
.characters span .cont-char.right .socialmedia {
   right: 70px;
}
.characters span .cont-char.left .socialmedia {
   left: 70px;
}
.characters span .cont-char .socialmedia a {
    text-decoration: none;
    margin:0;
    padding:0;
    line-height: 2pt;
}
.characters span .cont-char .socialmedia a p {
    font-size: 12pt;
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.characters span .cont-char .socialmedia a i {
    text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
}
.characters span .cont-char.right .socialmedia a div{
    justify-content: flex-end;
}
.characters span .cont-char.left .socialmedia a div{
    justify-content: flex-start;
}

.btnClose-PortfolioSlider {
    position: absolute;
    top:15px;
    right:15px;
    z-index:5;
}
.swiper-button-next,.swiper-button-prev {
    color:var(--primary);
    opacity: 0.7;
}
.swiper-button-next::after,.swiper-button-prev::after {
    font-size: 24pt;
}

@media (min-width: 1800px) {
    .characters{
        padding: 0 11%;
    }
    .characters span .cont-char.right .socialmedia {
        right: 83px;
    }
    .characters span .cont-char.left .socialmedia {
        left: 83px;
    }
    .characters span .cont-char .square .cont-border {
        width: 94%;
        height: 85%;
    }
    .characters span .cont-char .square .cont-border h2 {
        font-size: 38pt;
    }

}

@media (max-width: 600px) {
    .portfolio .main-content {
        padding: 15px 15px 400px;
    }

}

@media (max-width: 999px) {

    .cont-portfolio .principal {
        padding: 0 15%;
    }
    .cont-portfolio .principal .cont-box {
        width: 100%;
    }
    .cont-portfolio .principal .cont-box .box {
        width: 100%;
        height: 500px;
        margin: 0 5% 5%;
        padding: 20px 0 0 0;
    }
    .cont-portfolio .principal .cont-box .box img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: top;
        padding:20px 0 0 0;
    }
    .characters span {
        width: 100%;
    }
    .characters span .cont-char {
        width: 100%;
        height: 300px;
        padding: 0;
        justify-content:center;
    }
    .characters span .cont-char .square {
        width: 90%;
    }
    .characters span .cont-char .square .cont-border {
        width: 95%;
        height: 85%;
    }
    .characters span .cont-char.right .img{
        left:-20%;
    }
    .characters span .cont-char.left .img{
       right:-20%;
    }
    .characters span .cont-char.right .socialmedia {
        right: 70px;
    }
    .characters span .cont-char.left .socialmedia {
        left: 70px;
    }
    .characters span .cont-char .square .cont-border h2 {
        top: 15px;
        font-size: 45pt;
    }
   

}

@media (max-width: 500px) {
    .cont-portfolio .principal {
        padding: 0 2%;
    }
    .cont-portfolio .principal .cont-box {
        width: 100%;
        height: 230px;
        margin:0 0 8%;
    }
    .cont-portfolio .principal .cont-box .box {
        width: 100%;
        height: 230px;
        margin: 0 1% 5%;
        padding: 10px 0 0 0;
    }
    .cont-portfolio .principal .cont-box .box img{
        padding:20px 0 0 0;
    }
    .characters span .cont-char {
        width: 100%;
        height: 200px;
        padding:0;
    }
    .characters span .cont-char .square {
        width: 100%;
    }
    .characters span .cont-char.right .square {
        right:0;
    }
    .characters span .cont-char.left .square {
        left:0;
    }
     .characters span .cont-char .socialmedia {
        bottom:15px;
    }
    .characters span .cont-char.right .socialmedia {
        right: 20px;
    }
    .characters span .cont-char.left .socialmedia {
        left: 20px;
    }
    .characters span .cont-char .socialmedia a {
        line-height: 0;
    }
    .characters span .cont-char .square .cont-border h2 {
        top: 10px;
        font-size: 25pt;
    }

}

@media (max-width: 375px) {
    .characters span .cont-char {
        height: 150px;
    }
    .cont-portfolio .principal .cont-box .box img{
        width: 100%;
        height: 100%;
    }
     .characters span .cont-char .socialmedia {
        bottom:5px;
        transform:scale(0.7);
    }
    .characters span .cont-char.right .socialmedia {
        right: 5px;
    }
    .characters span .cont-char.left .socialmedia {
        left: 5px;
    }
    .characters span .cont-char .socialmedia a {
        line-height: 0;
    }
    .characters span .cont-char .square .cont-border h2 {
        top: 10px;
        font-size: 20pt;
    }

}
@media (max-width: 325px) {
   .characters span .cont-char .socialmedia {
        bottom:2px;
        transform:scale(0.6);
    }
    .characters span .cont-char.right .socialmedia {
        right: 0;
    }
    .characters span .cont-char.left .socialmedia {
        left: 0;
    }
    .characters span .cont-char .square .cont-border h2 {
        top: 8px;
        font-size: 18pt;
    }
}