<div class="portfolio mt-2">

    <div class="main-content">
        
        <div class="container-fluid">
            <div>
                <div class="title mt-5 mt-lg-4 text-center d-flex justify-content-center justify-content-lg-between align-items-center">
                    <hr class="w-40 d-none d-lg-block">
                    <h2 class="w-lg-20 w-xl-100">portfolio</h2>
                    <hr class="w-40 d-none d-lg-block">
                </div>

                <div class="cont-portfolio d-flex flex-column justify-content-center align-items-center pt-5 mt-4">

                    <div class="principal d-flex flex-wrap">

                        <span class="cont-box" *ngFor="let char of characters | filterPrincipal let i = index">
                            <div class="box" data-bs-toggle="modal" [attr.data-bs-target]="'#'+char.img">
                                <img src="../../../assets/img/draws/draws_med/{{char.img}}.png" alt="commission skyfishu {{char.name}}">
                            </div> 
                        </span>

                    </div>

                    <div class="characters d-flex flex-wrap">

                        <span class="d-flex flex-wrap" *ngFor="let char of characters let i = index">

                                <div class="cont-char" [ngClass]="{right: (i % 2) == 0,  left: (i % 2) != 0}">

                                    <div class="img">
                                       <img src="../../../assets/img/draws/draws_ch/{{char.img}}.png" [ngClass]="{imgM: char.fontSize == 'M'}"> 
                                    </div>
                                    
                                    <div class="square" [ngStyle]="{'background-image':'url(../../../assets/img/draws/fonts/'+char.font+'.png)'}">
                                        <div class="cont-border" [ngStyle]="{'border-color':char.colorSecondary}">
                                            <h2 [ngStyle]="{'color':char.colorPrimary,'text-shadow': '2px 2px 0 '+ char.colorTertiary}">{{char.name}}</h2>

                                        </div>
                                    </div>

                                    <div class="socialmedia d-flex flex-column" [ngStyle]="{'color':char.colorTertiary}">

                                        <a href="https://www.twitch.tv/{{char.twitchLink}}" *ngIf="char.twitchLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-twitch" [ngStyle]="{color:char.colorTertiary}"></i>
                                                <p class="pt-3" [ngStyle]="{color:char.colorTertiary}">{{char.twitchLink}}</p>
                                            </div>
                                        </a>
                                        
                                        <a href="https://www.youtube.com/c/{{char.youtubeLink}}" *ngIf="char.youtubeLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-youtube" [ngStyle]="{color:char.colorTertiary}"></i>
                                                <p class="pt-3" [ngStyle]="{color:char.colorTertiary}">{{char.youtubeLink}}</p>
                                            </div>
                                        </a>

                                        <a href="https://twitter.com/{{char.twitterLink}}" *ngIf="char.twitterLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-twitter" [ngStyle]="{color:char.colorTertiary}"></i>
                                                <p class="pt-3" [ngStyle]="{color:char.colorTertiary}">@{{char.twitterLink}}</p>
                                            </div>
                                        </a>
                                        
                                    </div>

                                </div>

                        </span>
                    </div>


                </div>

            </div>
        </div>

    </div>


    <!-------------MODALS--------------->

    <div class="modals" *ngFor="let char of characters">

        <div class="modal fade" id="{{char.img}}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                   <button type="button" class="btn-close btnClose-PortfolioSlider" data-bs-dismiss="modal"></button>

                      <swiper
                            [navigation]="true"
                            [loop]="true"
                            class="sliderPortfolio w-100 h-100"
                        >

                        <ng-template swiperSlide class="active">

                            <span>
                                <div class="modal-header">
                                    <div class="d-flex justify-content-center w-100">
                                        <h2 class="modal-title" [ngStyle]="{color:char.colorPrimary}">{{char.name}}</h2>
                                    </div>
                                    
                                </div>

                                <div class="modal-body">


                                    <img src="../../../assets/img/draws/{{char.img}}.png" alt="commission skyfishu {{char.name}}" width="100%"> 


                                    
                                </div>

                                <div class="modal-footer d-flex justify-content-center">

                                    <a href="https://www.twitch.tv/{{char.twitchLink}}" *ngIf="char.twitchLink">
                                        <div class="d-flex">
                                            <i class="fa-brands fa-twitch" [ngStyle]="{color:char.colorTertiary}"></i>
                                            <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">{{char.twitchLink}}</p>
                                        </div>
                                    </a>
                                    
                                    <a href="https://www.youtube.com/c/{{char.youtubeLink}}" *ngIf="char.youtubeLink">
                                        <div class="d-flex">
                                            <i class="fa-brands fa-youtube" [ngStyle]="{color:char.colorTertiary}"></i>
                                            <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">{{char.youtubeLink}}</p>
                                        </div>
                                    </a>

                                    <a href="https://twitter.com/{{char.twitterLink}}" *ngIf="char.twitterLink">
                                        <div class="d-flex">
                                            <i class="fa-brands fa-twitter" [ngStyle]="{color:char.colorTertiary}"></i>
                                            <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">@{{char.twitterLink}}</p>
                                        </div>
                                    </a>
                                    
                                </div>
                            </span>
                                
                            </ng-template>

                            <ng-template *ngFor="let chars of characters | filterCharacterPortfolio: char.name" swiperSlide>

                                <span>
                                    <div class="modal-header">
                                        <div class="d-flex justify-content-center w-100">
                                            <h2 class="modal-title" [ngStyle]="{color:chars.colorPrimary}">{{chars.name}}</h2>
                                        </div>
                                        
                                    </div>

                                    <div class="modal-body">


                                        <img src="../../../assets/img/draws/{{chars.img}}.png" alt="commission skyfishu {{chars.name}}" width="100%"> 


                                        
                                    </div>

                                    <div class="modal-footer d-flex justify-content-center">

                                        <a href="https://www.twitch.tv/{{chars.twitchLink}}" *ngIf="chars.twitchLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-twitch" [ngStyle]="{color:chars.colorTertiary}"></i>
                                                <p class="pt-1" [ngStyle]="{color:chars.colorTertiary}">{{chars.twitchLink}}</p>
                                            </div>
                                        </a>
                                        
                                        <a href="https://www.youtube.com/c/{{chars.youtubeLink}}" *ngIf="chars.youtubeLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-youtube" [ngStyle]="{color:chars.colorTertiary}"></i>
                                                <p class="pt-1" [ngStyle]="{color:chars.colorTertiary}">{{chars.youtubeLink}}</p>
                                            </div>
                                        </a>

                                        <a href="https://twitter.com/{{chars.twitterLink}}" *ngIf="chars.twitterLink">
                                            <div class="d-flex">
                                                <i class="fa-brands fa-twitter" [ngStyle]="{color:chars.colorTertiary}"></i>
                                                <p class="pt-1" [ngStyle]="{color:chars.colorTertiary}">@{{chars.twitterLink}}</p>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </span>

  
                                
                            </ng-template>


                        </swiper>


                </div>
            </div>
        </div>

    </div>


<!-------------
    <div class="modals" *ngFor="let char of characters">

        <div class="modal fade" id="{{char.img}}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="d-flex justify-content-center w-100">
                            <h2 class="modal-title" [ngStyle]="{color:char.colorPrimary}">{{char.name}}</h2>
                        </div>
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <img src="../../../assets/img/draws/{{char.img}}.png" alt="commission skyfishu {{char.name}}" width="100%">
                    </div>

                    <div class="modal-footer d-flex justify-content-center">

                        <a href="https://www.twitch.tv/{{char.twitchLink}}" *ngIf="char.twitchLink">
                            <div class="d-flex">
                                <i class="fa-brands fa-twitch" [ngStyle]="{color:char.colorTertiary}"></i>
                                <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">{{char.twitchLink}}</p>
                            </div>
                        </a>
                        
                        <a href="https://www.youtube.com/c/{{char.youtubeLink}}" *ngIf="char.youtubeLink">
                            <div class="d-flex">
                                <i class="fa-brands fa-youtube" [ngStyle]="{color:char.colorTertiary}"></i>
                                <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">{{char.youtubeLink}}</p>
                            </div>
                        </a>

                        <a href="https://twitter.com/{{char.twitterLink}}" *ngIf="char.twitterLink">
                            <div class="d-flex">
                                <i class="fa-brands fa-twitter" [ngStyle]="{color:char.colorTertiary}"></i>
                                <p class="pt-1" [ngStyle]="{color:char.colorTertiary}">@{{char.twitterLink}}</p>
                            </div>
                        </a>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>---->
    <!---------------------------------->

    <app-footer></app-footer>
        
</div>
