<div class="tos">

    <div class="main-content">

        <div class="title pt-4 mt-5 mb-5 mt-lg-0 text-center d-flex justify-content-center justify-content-lg-between align-items-center">
            <hr class="w-50 d-none d-lg-block">
            <h2 class="w-lg-50 w-xl-100">TERMS OF SERVICE</h2>
            <hr class="w-50 d-none d-lg-block">
        </div>
        
        <div class="box container">
            <div>
                <div class="d-flex flex-column">
   
                    <div class="text w-100 p-4">
                        <span>
                            Please read carefully:
                        </span>
                        <hr>
                        <ul class="d-flex flex-column">
                            <li>
                                I accept PayPal only.  Payment will be made through the Paypal Invoice system.
                            </li>
                            <li>
                                I will only start the commission once I recieve the payment.
                            </li>
                            <li>
                                I have the right to refuse/deny a commission if I feel unable to execute it or if I am uncomfortable with your request.
                            </li>
                            <li>
                                Refunds are only possible before I start working on your commission.
                            </li>
                            <li>
                                Please credit me as skyfish (<a href="https://twitter.com/skyfishu">@skyfishu</a>).
                            </li>
                            <li>
                                If you plan to get more outfits in the future please let me know in advance, that way I will make a base for the body and it will be less difficult to add items on top later on.
                            </li>
                            <li>
                                I will provide screenshots of WIPs. You can ask for free changes during the sketching stage, however, once I move on to lineart I will charge per change (Price depends on the complexity).
                            </li>
                            <li>
                                I have the right to post your commission as an example in my portfolio.
                                (If you would like your commission to remain private, please let me know in advance).
                            </li>
                            <li>
                                Basic turnaround time is 3 weeks to 7 weeks depending on the complexity of your character, but please keep in mind I may have some commissioners before you.
                            </li>
                            <li>
                                If requested as rush, a rush fee will be included.
                            </li>
                            <li>
                                You are not allowed to edit, trace or modify my art.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

     <app-footer></app-footer>
        
</div>
