/*
* Theme: Skyfishu Theme
* Autor: Cindyita
* Company: Yawu.art
*/

/*---------COLORS-----------*/

:root {
    --primary: #56B2C6;
    --primaryLight: rgba(86,178,198,0.5);
    --secondary: #FAB1CC;
    --secondaryLight: rgba(250,177,204,0.3);
    --tertiary: white;
    --tertiaryLight: rgba(255,255,255,0.5);

    --textPrimary: #443F42;
    --textSecondary: #6D504B;
    --textTitle: #ff85b2;

    --grey: #9FA8A8;
    --pinkLight: #FEEAF0;
}

/*--------------------------*/
/*----------FONTS-----------*/

@font-face {
  font-family: animareska;
  src: url(assets/fonts/aminareska.ttf) format("TrueType");
}

@font-face {
  font-family: cherioutline;
  src: url(assets/fonts/cherioutline.ttf) format("TrueType");
}

@font-face {
  font-family: cheriregular;
  src: url(assets/fonts/cheriregular.ttf) format("TrueType");
}

@font-face {
  font-family: organicbrand;
  src: url(assets/fonts/organicbrand.ttf) format("TrueType");
}

/*--------------------------*/
/*----------GENERAL---------*/

* {
    font-family: Myanmar Text, sans-serif;
}
body {
    background-image: url('assets/img/font.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a:hover {
    color: var(--tertiary);
}
*::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color:transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
}
*::-webkit-scrollbar:vertical {
    width:5px;
    position:absolute;
    right:0;
    top:0;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}



/*--------------------------*/
/*-----------TEXT-----------*/

p {
    font-family: Myanmar Text, sans-serif;
    color: var(--primary);
    font-size: 15pt;
    font-weight: normal;
}
p span{
    font-family: Myanmar Text, sans-serif;
    color: var(--textPrimary);
    font-size: 10pt;
    font-weight: normal;
}

a {
    font-family: Myanmar Text, sans-serif;
    color: var(--primary);
    font-size: 15pt;
    font-weight: normal;
}

h2 {
    font-family: 'organicbrand';
    color: var(--primary);
    font-size: 30pt;
    font-weight: normal;
}

h1 {
    font-family: 'organicbrand';
    color: var(--textTitle);
    font-size: 40pt;
    font-weight: normal;
}
h3 {
    font-family: 'organicbrand';
    color: var(--textSecondary);
    font-size: 20pt;
    font-weight: normal;
}

h1.display {
    font-family: 'cherioutline';
    color: var(--primary);
    font-size: 75pt;
    font-weight: normal;
    text-shadow: 1px 1px 1px var(--secondary);
}

h1.title {
    font-family: 'animareska';
    color: var(--primary);
    font-size: 88pt;
    font-weight: normal;
}

i {
    color: var(--primaryLight);
    font-size: 20px;
    padding: 7px 5px 0;
}

@media (max-width: 600px) {
    p,
    p span {
        font-size: 10pt;
    }

    a {
        font-size: 10pt;
    }

}

/*--------------------------*/
/*----------MENUS-----------*/

    ul {
      display: flex;
    }


    .menu-primary a li {
        background-color: var(--secondaryLight);
        margin: 0 5px;
        padding: 6px 10px 0;
        border-radius: 10px;
    }
    .menu-primary a li:hover,
    .menu-primary a.actived li {
        background-color: var(--secondary);
    }
    .menu-primary a li P {
        font-size: 13pt;
        color: var(--primary);
    }
    .btn-menu div{
        background-color: var(--secondaryLight);
        margin: 0 5px;
        padding: 4px 5px 0;
        border-radius: 10px;
    }
    .btn-menu div:hover,.btn-menu div:active {
        background-color: var(--secondary);
    }
    .btn-menu div i {
        padding:3px 3px 0;
        cursor:pointer;
    }
    .socialmedia ul li:hover i{
        color: var(--primary)
    }

    .menu-secondary {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .menu-secondary a {
        color: var(--textPrimary);
        font-weight: bold;
        font-size: 12pt;
    }
    .socialmedia-footer i{
        color: var(--tertiary);
    }
    .socialmedia-footer i:hover{
        color: var(--textPrimary);
    }

    @media (max-width: 1024px) {
        .menu-primary a li P {
            font-size: 10pt;
        }
    }
    @media (max-width: 800px) {
        .menu-primary a li P {
            padding: 2px 0;
            font-size: 12pt;
        }
        .menu-secondary a {
            font-size: 10pt;
        }
    }

    @media (max-width: 380px) {
        .menu-primary a li P {
            font-size: 8pt;
            padding: 5px 0;
        }
        .menu-secondary a {
            font-size: 8pt;
        }
        .socialmedia-footer i{
            font-size: 10pt;
        }
    }
/*--------------------------*/
/*----------BUTTONS----------*/

    .button-primary {
        background-color: var(--secondary);
        padding: 7px 15px 0;
        box-shadow: 1px 1px 3px 1px rgba(117, 117, 117, 0.5);
        color: var(--textSecondary);
        font-size: 15pt;
        border: 0;
        border-radius: 3px;
    }
    .button-primary:hover {
        background-color: var(--tertiary);
        color: var(--textPrimary);
    }

/*--------------------------*/
/*----------OBJECTS---------*/

    .icon {
        color: var(--secondary);
    }

    .box {
        background-color: var(--tertiaryLight);
        box-shadow: 1px 1px 5px 1px rgba(15,15,15,0.2);
        padding: 3%;
    }

    hr {
        border-top: 0;
        border-bottom: 4px solid var(--grey);
        margin: 0;
        padding:0;
        opacity:1;
        width:100%;
    }
    .line {
        height: 2px;
        background-color: var(--grey);
        margin:0;
        padding:0;
    }

/*--------------------------*/

