.aboutme {
    position: relative;
}
.aboutme .main-content .box .img img {
    width: 70%;
}
.aboutme .main-content .box {
    padding: 5%;
}
.aboutme .main-content .box .text i {
    color: var(--secondary);
}
.aboutme .main-content {
    padding-bottom: 400px;
}

@media (max-width: 600px) {
    .aboutme .main-content {
        padding: 15px 15px 400px;
    }
}