.aboutme {
    position: relative;
}
.aboutme .main-content .box .img {
    background-image: url('../../../assets/img/slider-primary/font-character.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%;
}
.aboutme .main-content .box .img img {
    width: 70%;
}
.aboutme .main-content .box {
    padding: 5%;
}
.aboutme .main-content .box .text i {
    color: var(--secondary);
}
.aboutme .main-content {
    padding-bottom: 400px;
}

@media (max-width: 600px) {
    .aboutme .main-content {
        padding: 15px 15px 400px;
    }
}