<div class="aboutme">

    <div class="main-content">
        
        <div class="box container">
            <div>
                <div class="title text-center">
                    <h2>About me</h2>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="img w-50 d-flex justify-content-center align-items-center">
                        <img src="../../../assets/img/draw-aboutme.png" alt="skyfishu aboutme commissions">
                    </div>
                    <div class="text w-50 d-flex justify-content-center align-items-center p-4">
                        <p>
                            Hi! my name is Lala, also known as skyfish, and I’m a colombian artist who specializes in vtuber models and illustrations. 
                            <br><br>
                            I love drawing cute characters and cool designs and I also love creating original designs myself! 
                            <br><br>
                            I’m looking forward to working with you
                            <i class="fa-solid fa-heart"></i> 
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>

     <app-footer></app-footer>
        
</div>
